/* by color rules (color.adobe.com) */
$color-brand-one: #FF3226;
$color-brand-two: #7F4C74;
$color-brand-shade-one: #BF73AD;
$color-brand-shade-two: #E58AD0;
$color-light-gray: #F6F6F6;
$color-medium-gray: #333;
$color-dark-gray: #222;
$color-message-success: green;
$color-message-error: red;

$color-message-neutral: $color-medium-gray;
$color-heading: $color-brand-two;

$color-text-link: $color-brand-shade-two;
$color-text-decoration: $color-brand-shade-two;
$color-text-link-hover: $color-brand-two;
$color-text-link-active: $color-brand-shade-two;

/* by web safe stacks (cssfontstack.com) */
$font: 'Tahoma, Verdana, Segoe, sans-serif';

/* by scale (modularscale.com) */
$font-size-header: 2.25em;
$font-size-primary-content: 1.5em;
$font-size-default: 1em;
$font-size-supporting: 0.667em;

$layout-max-width: 1100/12em;
$layout-min-width: 320px;
$layout-min-height: 601px;

$breakpoint-smartphone-min-width-portrait: 320px;
$breakpoint-tablet-min-width-portrait: 768px;
$breakpoint-desktop-min-width: 980px;

$border-radius: 3px;
$border: 2px;
$animation-speed-medium: 0.4s;
$animation-ease: ease;
