/* react client application
  ========================================================================== */

html {
  height: 100%;
  display: block;
  background-color: #fff;
  font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

body {
  margin: 0;
  min-height: 100%;
  position: relative;
  display: block;
  line-height: 18px;
  color: #333;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  cursor: auto;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.div {
  display: block;
}

/* app
  ========================================================================== */

.root-main {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.constraint-width {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1100px;
  padding: 0 15px;
}

.app-header {
  box-shadow: 0 1px 0 0 rgba(0,0,0,.05),0 2px 4px 0 rgba(0,0,0,.06);
  background: #fff;
  position: relative;
  padding: 0px 0px;
}

.app-header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

/* logo
  ========================================================================== */

.logo {
  height: 34px;
  margin: 0 10px 0 0;
}

.logo a {
  color: #da552f;
  text-decoration: none;
  background-color: transparent;
  cursor: auto;
}

.logo-text {
  color: #da552f;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: .2px;
  line-height: 24px;
}

/* main-section
  ========================================================================== */

.main-section {
  margin-top: 30px;
  padding: 0 15px;
  display: flex;
  flex: 1;
}

.main-section .content {
  width: 100%;
}

.main-section .box {
  margin: 0 0 20px;
}

/* text
  ========================================================================== */

.text {
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
}

.subtle {
 color: #999;
}

.featured {
 font-size: 20px;
 font-weight: 200;
 letter-spacing: .2px;
 line-height: 24px;
}

.default {
 color: #000;
}

.base {
 margin: 0;
}

.secondary-text {
 font-size: 12px;
 font-weight: 400;
 letter-spacing: .6px;
 line-height: 16px;
 text-transform: uppercase;
}

/* user-message
  ========================================================================== */

.user-message {
 color: #999;
 font-size: 20px;
 font-weight: 200;
 letter-spacing: .2px;
 line-height: 24px;
 margin-left: auto;
 text-align: center;
}

.input-error {
 color: #da552f;;
 font-weight: 600;
 font-size: 12px;
 letter-spacing: .6px;
 line-height: 16px;
}

/* modal
  ========================================================================== */

#add_bill, #settle_up_form {
  font-size: 14px;
  min-height: 480px;
  overflow: visible;
  background: 0;
}

.modal.fade.in {
  opacity: 1;
  top: 50%;
}

.modal.transparent {
  box-shadow: none;
  border: 0;
}

.modal {
  position: fixed;
  left: 50%;
  z-index: 1050;
  margin: -250px 0 0 -280px;
  border-radius: 6px;
}

.relative-container {
  position: relative;
  min-height: 480px;
}

/* add bill
  ========================================================================== */

.main-window {
  position: relative;
  z-index: 1;
}

.main-window, .subview {
  background: #fff;
  width: 350px;
  border: 1px solid #999;
  overflow: hidden;
}

.main-window header, .subview header {
  background: #5cc5a7;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #36977b;
  font-size: 18px;
  font-weight: bold;
}

/* add bill with
  ========================================================================== */

.main-window .with-field, .sbuview .with-field {
  position: relative;
  padding: 4px;
  border-bottom: 98px;
  padding-left: 98px;
  max-height: 250px;
  overflow-y: auto;
}

.main-window .with-field .with {
  position: absolute;
  left: 10px;
  top: 11px;
}

ul.token-input-list {
  overflow: hidden;
  height: auto !important;
  cursor: text;
  font-size: 12px;
  min-height: 1px;
  z-index: 999999;
  margin: 0;
  padding: 3px;
  background: transparent;
}

ul {
  list-style: disc;
}

ul.token-input-list li {
  list-style-type: none;
  white-space: nowrap;
  overflow: visible;
  padding-right: 6px;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  margin: 3px;
  padding: 0 8px;
  background: 0;
  background-color: #f6f6f6;
  color: #000;
  cursor: default;
  border: 1px solid #bbb;
  float: left;
}

li {
  display: list-item;
}

.main-window .body,
.subview .body {
  max-height: 435px;
  position: relative;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

/* add bill inputs
  ========================================================================== */

.main-window .body .main-fields,
.subview .body .main-fields {
  position: relative;
  width: 250px;
  margin: 5px auto;
  text-align: right;
}

.main-fields img.category {
  float: left;
  width: 50px;
  height: 84px;
  margin-right: 16px;
  cursor: pointer;
}

.img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.main-fields input.description {
  height: 24px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: 1px dashed #ccc !important;
}

.main-fields input {
  outline: 0;
  border: none !important;
  box-shadow: none !important;
  text-align: left;
  width: 177px;
  color: #333;
  border-radius: 0;
  padding-bottom: 2px;
  background-color: #fff;
}

div.cost-container {
  position: relative;
  width: 181px;
  text-align: left;
  display: inline-block;
  border-bottom: 1px dashed #ccc;
  white-space: nowrap;
}
span.currency-code {
  font-size: 20px;
  color: #333;
  display: inline-block;
  padding: 15px 3px 7px;
  vertical-align: bottom;
  text-decoration: none;
}

input.cost {
  font-size: 36px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  width: 120px;
  padding-bottom: 0;
  margin-bottom: 0;
  vertical-align: bottom;
}

.human-summary {
  clear: both;
  margin: 15px 0 10px;
  font-size: 14px;
  text-align: center;
}

.human-summary a {
  display: inline-block;
  background: #f6f6f6;
  border-radius: 10px;
  height: 18px;
  line-height: 16px;
  padding: 2px 5px 0px;
  border: 1px dashed #ccc;
  vertical-align: middle;
  color: #5cc5a7;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
}

.human-summary .details {
  margin: 3px 0;
  font-size: 14px;
}

footer {
  letter-spacing: 3px;
  border-top: 1px solid #eee;
  text-align: right;
  padding: 8px 10px;
}

/* add bill footer buttons
  ========================================================================== */

footer button {
  letter-spacing: 0;
}

.btn-cancel {
  background: #f6f6f6;
  color: #333;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: 0;
}

.btn-mint {
  background: #5cc5a7;
  color: #fff;
}

/* choose split options
  ========================================================================== */

#choose_split {
  width: 350px;
}

.subview.active {
  left: 370px;
  opacity: 1.0;
  pointer-events: auto;
}

.split-details {
  padding: 10px;
}

#choose-split .body {
  text-align: left;
}

/* choose split button group
  ========================================================================== */

#split-method {
  margin: -5px 0 10px;
  text-align: center;
  display: block;
}

.btn-group.btn-group-inline {
  vertical-align: -8px;
}

.btn-group {
  position: relative;
}

.split-button {
  font-size: 24px;
  line-height: 24px;
  padding: 0 8px 4px;
  height: 30px;
}

.btn-group>.btn:first-child {
  margin-left: 0;
  border-bottom-left-radius: 4px;
}

.btn-group>.btn {
  position: relative;
  float: left;
  border-radius: 0;
}

.btn-gray {
  color: #666;
}

.btn {
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  outline: 0;
}

.split-button.unequal {
  font-size: 16px;
  padding-top: 2px;
}

.split-button.percent {
  font-size: 20px;
  padding-top: 2px;
}

/* split method equal
  ========================================================================== */

h3 {
  font-size: 18px;
  line-height: 27px;
  display: block;
}

.subview .body h3 {
  margin-bottom: 5px;
  color: #999;
}

.split-method-equal {
  cursor: pointer;
}

.person {
  user-select: none;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.person .amount {
  float: right;
  margin-top: 8px;
}

.person .name {
  display: inline-block;
  max-width: 170px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 16px;
  min-height: 18px;
  cursor: pointer;
  text-align: left;
}

/* split method exact amount
========================================================================== */

.person div.input-prepend {
  float: right;
  margin-top: 4px;
  margin-bottom: 2px;
}

.input-prepend .add-on:first-child {
  border-radius: 3px 0 0 3px;
  margin-right: -1px;
  display: inline-block;
  width: auto;
  height: 18px;
  min-width: 16px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  background-color: #eee;
  border: 1px solid #ccc;
}

.split-method-unequal .name {
  max-width: 145px;
}

.totals {
  padding: 5px;
  text-align: left;
  font-size: 16px;
  margin-top: 7px;
}

.subtotals {
  float: right;
  margin-top: -7px;
  text-align: right;
  font-size: 16px;
}

.owed-total {
  font-weight: bold;
  font-size: 16px;
  text-align: right;
}

.remaining, .owed-remaining {
  font-size: 12px;
  color: #aaa;
}

/* split method percent
  ========================================================================== */

.person div.input-append {
  float: right;
  margin-top: 4px;
  margin-bottom: 2px;
  user-select: none;
  white-space: nowrap;
  text-align: left;
}

.person div.input-append input {
  width: 45px;
  border-radius: 3px 0 0 3px;
  position: relative;
  margin-bottom: 0;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
}
