/* react client application
  ========================================================================== */

html {
  height: 100%;
  display: block;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
  position: relative;
  display: block;
}

a {
  text-decoration: none;
  cursor: auto;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.div {
  display: block;
}

/* app
  ========================================================================== */

.root-main {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.constraint-width {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1100px;
  padding: 0 15px;
}

.app-header {
  box-shadow: 0 1px 0 0 rgba(0,0,0,.05),0 2px 4px 0 rgba(0,0,0,.06);
  background: #fff;
  position: relative;
  padding: 0px 0px;
}

.app-header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

/* logo
  ========================================================================== */

.logo {
  height: 34px;
  margin: 0 10px 0 0;
}

.logo a {
  color: #da552f;
  text-decoration: none;
  background-color: transparent;
  cursor: auto;
}

.logo-text {
  color: #da552f;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: .2px;
  line-height: 24px;
}

/* main-section
  ========================================================================== */

.main-section {
  margin-top: 30px;
  padding: 0 15px;
  display: flex;
  flex: 1;
}

.main-section .content {
  width: 100%;
}

.main-section .box {
  margin: 0 0 20px;
}

/* text
  ========================================================================== */

.text {
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
}

.subtle {
 color: #999;
}

.featured {
 font-size: 20px;
 font-weight: 200;
 letter-spacing: .2px;
 line-height: 24px;
}

.default {
 color: #000;
}

.base {
 margin: 0;
}

.secondary-text {
 font-size: 12px;
 font-weight: 400;
 letter-spacing: .6px;
 line-height: 16px;
 text-transform: uppercase;
}

/* user-message
  ========================================================================== */

.user-message {
 color: #999;
 font-size: 20px;
 font-weight: 200;
 letter-spacing: .2px;
 line-height: 24px;
 margin-left: auto;
 text-align: center;
}

.input-error {
 color: #da552f;;
 font-weight: 600;
 font-size: 12px;
 letter-spacing: .6px;
 line-height: 16px;
}
