/* app
  ========================================================================== */

html {
  height: 100%;
  font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
  position: relative;
  display: block;
  line-height: 22px;
  color: #333;
  background-color: #f9f9f9;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  cursor: auto;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block;
}

input {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.div {
  display: block;
}

.root-main {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.constraint-width {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1100px;
  padding: 0 15px;
}

.app-header {
  box-shadow: 0 1px 0 0 rgba(0,0,0,.05),0 2px 4px 0 rgba(0,0,0,.06);
  background: #fff;
  position: relative;
  padding: 0px 0px;
}

.app-header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  text-align: -webkit-center;
}

/* header
  ========================================================================== */

.logo a {
  height: 34px;
  margin: 0 10px 0 0;
  text-decoration: none;
  background-color: transparent;
  cursor: auto;
}

.logo-text {
  color: #999;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: .2px;
  line-height: 24px;
}

.account {
  display: flex;
  align-items: center;
}

.auth-link {
  font-size: 14px;
  margin: 0 15px 0 0;
  color: #999;
  line-height: 18px;
  text-decoration: none;
  cursor: auto;
}

.item {
  display: block;
  height: 50px;
  color: #999;
  font-size: 14px;
  line-height: 50px;
  padding: 0 20px;
  background: transparent;
}

.active-item, button.submit {
  color: #fff;
  background: #5cc5a7;
}

.action-button {
  height: 34px;
  padding: 0 13px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none!important;
  margin-right: 10px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .6px;
  line-height: 16px;
  text-transform: uppercase;
}

.demo-button {
  color: #999;
  fill: #999;
  background: #fff;
}

/* main-section
  ========================================================================== */

.main-section {
  margin: 0;
  padding: 30px 15px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0 20px;
}

/* dashboard
  ========================================================================== */

.dashboard .friends-list {
  flex: auto;
}

.navigation {
  margin: 0 10px 20px 30px;
}

.navigation span {
  font-weight: 600;
}

.navigation ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  color: #999;
  display: flex;
  height: 50px;
  justify-content: space-between;
  text-align: center;
  font-weight: 300;
  height: 60px;
  width: 80%;
}

.navigation a:active {
  color: #5cc5a7;
  border-bottom: 1px solid #5cc5a7;
}

.dashboard .expenses-list {
  flex: 0 0 75%;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  min-height: 550px;
  padding: 0 20px;
}

.expenses-list .header {
  align-items: baseline;
  border-bottom: 1px #f6f6f6;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.header span {
  color: #5cc5a7;
}

.content .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.list li {
  padding: 25px;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  background-color: transparent;
}

.list-item .expense-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  align-items: baseline;
}

.expense-title {
  flex: 0 0 50%;
}

.list-item {
  height: 50px;
  padding: 0 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
}

.list-item .paid,
.list-item .owed {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.owed-amount {
  color: #da552f;
}

/* add page
  ========================================================================== */

.add.container {
  justify-content: center;
  align-items: flex-start;
}

/* add friends to bill
========================================================================== */
.add-friends {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px;
}

/* add notes to bill
  ========================================================================== */
.add-bill {
  flex: 0 0 65%;
}

.add-notes {
  flex: 1;
}

.add-notes, .subview {
  background: #fff;
  width: 350px;
  overflow: hidden;
  padding: 20px;
  margin: 0 0 20px;
}

.add-notes header {
  color: #5cc5a7;
  padding: 10px;
  border-bottom: 1px solid #f6f6f6;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.with-field {
  padding: 10px;
}

.add-notes .body,
.subview .body {
  max-height: 450px;
  padding: 10px;
  overflow: hidden;
}

/* add bill inputs
  ========================================================================== */

.main-fields input.description {
  height: 24px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: 1px dashed #ccc !important;
  color: #666;
  font-size: 24px;
  font-weight: 600;
}

.main-fields input {
  outline: 0;
  border: none !important;
  box-shadow: none !important;
  text-align: left;
  width: 177px;
  border-radius: 0;
  padding-bottom: 2px;
  background-color: #fff;
  color: #666;
  font-size: 18px;
  font-weight: 400;
}

div.cost-container {
  position: relative;
  width: 181px;
  text-align: left;
  display: inline-block;
  border-bottom: 1px dashed #ccc;
  white-space: nowrap;
}

span.currency-code {
  font-size: 20px;
  color: #666;
  display: inline-block;
  padding: 15px 3px 7px;
  vertical-align: bottom;
  text-decoration: none;
}

input.cost {
  font-size: 30px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  width: 120px;
  padding-bottom: 0;
  margin-bottom: 0;
  vertical-align: bottom;
}

.human-summary {
  clear: both;
  margin: 15px 0 10px;
  font-size: 14px;
  text-align: center;
}

.human-summary a {
  display: inline-block;
  background: #f6f6f6;
  border-radius: 10px;
  height: 18px;
  line-height: 16px;
  padding: 2px 5px 0px;
  border: 1px dashed #ccc;
  vertical-align: middle;
  color: #5cc5a7;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
}

.human-summary .details {
  margin: 3px 0;
  font-size: 14px;
}

footer {
  letter-spacing: 3px;
  border-top: 1px solid #eee;
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
}

/* add bill footer buttons
  ========================================================================== */

footer button {
  letter-spacing: 0;
}

.btn-cancel {
  background: #f6f6f6;
  color: #333;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  border-radius: 5px;
  margin-right: 5px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: 0;
}

.btn-mint {
  background: #5cc5a7;
  color: #fff;
}

/* choose split button group
  ========================================================================== */

.split-details {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.split-button {
  font-size: 24px;
  line-height: 24px;
  padding: 0 8px 4px;
  height: 30px;
}

.btn-gray {
  color: #666;
}

.btn {
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: #f5f5f5;
  padding: 10px;
  margin: 0.5px;
  width: 100px;
}

.btn.active {
  background-color: #e6e6e6;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)
}

/* split method
  ========================================================================== */

.subview .body h3 {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.split-method {
  display: flex;
  flex-direction: column;
}

.person {
  display: flex;
  justify-content: space-between;
  user-select: none;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.person .amount {
  margin-top: 8px;
}

.person .amount input {
  width: 70px;
  text-align: right;
}

.person .name {
  max-width: 170px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 16px;
  min-height: 18px;
  cursor: pointer;
  text-align: left;
  margin-top: 8px;
}

.totals {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 16px;
  margin-top: 20px;
}

.subtotals {
  display: flex;
  flex-direction: column;
  margin-top: -7px;
  font-size: 16px;
  align-items: flex-end;
}

.owed-total {
  font-weight: bold;
  font-size: 16px;
}

.remaining, .owed-remaining {
  font-size: 12px;
  color: #aaa;
}

/* split method percent
  ========================================================================== */

.person div.input-append {
  float: right;
  margin-top: 4px;
  margin-bottom: 2px;
  user-select: none;
  white-space: nowrap;
  text-align: left;
}

.person div.input-append input {
  width: 45px;
  border-radius: 3px 0 0 3px;
  position: relative;
  margin-bottom: 0;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* split method exact amount
========================================================================== */

.split-method-unequal .name {
  max-width: 145px;
}

.person div.input-prepend {
  margin-top: 4px;
  margin-bottom: 2px;
}

.input-prepend .add-on:first-child {
  border-radius: 3px 0 0 3px;
  margin-right: -1px;
  width: auto;
  height: 18px;
  min-width: 16px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  background-color: #eee;
  border: 1px solid #ccc;
}

/* split equal amount
========================================================================== */

.split-method-equal {
  cursor: pointer;
}

/* text
  ========================================================================== */

.text {
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
}

.subtle {
 color: #999;
}

.featured {
 font-size: 20px;
 font-weight: 200;
 letter-spacing: .2px;
 line-height: 24px;
}

.default {
 color: #000;
}

.base {
 margin: 0;
 font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.secondary-text {
  font-size: 12px;
  letter-spacing: .6px;
  text-transform: lowercase;
}

/* user-message
  ========================================================================== */

.user-message {
 color: #999;
 font-size: 20px;
 font-weight: 200;
 letter-spacing: .2px;
 line-height: 24px;
 margin-left: auto;
 text-align: center;
}

.input-error {
 color: #da552f;;
 font-weight: 600;
 font-size: 12px;
 letter-spacing: .6px;
 line-height: 16px;
 padding: 5px;
 margin-bottom: 5px;
}

/* settle up
  ========================================================================== */

.settle-up {
  color: #5cc5a7;
  text-transform: uppercase;
  height: 40px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* date picker
  ========================================================================== */

h3 {
  display: block;
  font-weight: 400;
  text-align: center;
}

/* token
  ========================================================================== */

.token-container {
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  width: 90px;
}

.token-remove-button {
  padding: 8px 6px;
  color: #000;
  font-size: 12px;
  border-left: 1px solid #ccc;
  line-height: 100%;
  position: absolute;
  vertical-align: middle;
  cursor: pointer;
  right: 0;
  bottom: 0;
}

.token-remove-button:hover {
  color: #000;
  background: #f2f2f2;
}

.token-value {
  padding: 3px 8px;
  font-size: 14px;
  vertical-align: middle;
}

/* options
  ========================================================================== */
.option-container {
  position: absolute;
  width: 100%;
  border: 1px solid #f2f2f2;
  margin: 5px 0 0 0;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
}

.option {
  padding: 8px;
  cursor: default;
}

a.active {
  color: #5cc5a7;
  background: transparent;
  font-weight: 600;
}
